src/plugins/xsd/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- ============================================================================ -->
	<!--
		ModuleType
	-->
	<xs:complexType name="ModuleType" mixed="true">
		<xs:attribute name="name"/>
		<xs:attribute name="type"/>
		<xs:attribute name="filename"/>
	</xs:complexType>
	<!--
		titleType
	-->
	<xs:complexType name="titleType" mixed="true">
		<xs:attribute name="lang">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="en"/>
					<xs:enumeration value="jp"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<!--
		ComponentType
	-->
	<!-- ============================================================================ -->
	<xs:complexType name="ComponentType" mixed="true">
		<xs:attribute name="name" use="optional"/>
		<xs:attribute name="loader" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="adplugin"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="widget"/>
          <xs:enumeration value="dataprovider"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="interface" use="required"/>
		<xs:attribute name="module" use="required"/>
	</xs:complexType>
	<!-- -->
	<!-- ============================================================================ -->
	<xs:complexType name="ServantComponentType" mixed="true">
		<xs:attribute name="name" use="optional"/>
		<xs:attribute name="module" use="required"/>
	</xs:complexType>
	<!-- ============================================================================ -->
	<xs:complexType name="ConfigurationType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Configuration" type="ConfigurationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="title" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="pattern" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Component" type="ComponentType" minOccurs="0"/>
			<xs:element name="datasource" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="type"/>
		<xs:attribute name="readonly" type="xs:boolean"/>
	</xs:complexType>
<!-- ============================ Servant ============================================ -->
	<xs:complexType name="ServantConfigurationType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Configuration" type="ServantConfigurationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Component" type="ServantComponentType" minOccurs="0"/>
			<xs:element name="datasource" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="type"/>
		<xs:attribute name="readonly" type="xs:boolean"/>
		<xs:attribute name="ns_name"/>
		<xs:attribute name="id"/>
	</xs:complexType>
	<!-- ============================================================================ -->
	<xs:element name="ServantConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Module" type="ModuleType" maxOccurs="unbounded"/>
				<xs:element name="Configuration" type="ServantConfigurationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!-- ============================================================================ -->
	<xs:element name="DataprocConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Module" type="ModuleType" maxOccurs="unbounded"/>
				<xs:element name="Configuration" type="ConfigurationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
