src/plugins/acquire/acquire.config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="InstrumentModule">
		<xs:complexType>
			<xs:attribute name="modelname" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Agilent Binary Pump"/>
						<xs:enumeration value="MULTURN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="manufacturer" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Agilent"/>
						<xs:enumeration value="MSI-Tokyo"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Configuration">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="InstrumentModule" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="instrument_configuration"/>
						<xs:enumeration value="instrument_monitor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcquireConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Configuration" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
